.nav {
  background-color: #039be5;
  color: white;
  text-align: center;
  height: 42vh;
}
.nav h1 {
  font-size: xxx-large;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65%;
  width: 90%;
  margin-left: auto;
  margin-top: 3%;
  margin-right: auto;
  /* background-color: #0288d1; */
}
.form input {
  font-size: x-large;
  border-radius: 10px;
  align-self: center;
  width: 70%;
  border: none;
  padding: 8px;
  outline: none;
}
.form textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  height: 70px;
  font-size: large;
  width: 70%;
  padding: 5px;
  align-self: center;
}

.add {
  display: block;
  width: 9%;
  height: 25px;
  font-size: x-large;
  margin-right: auto;
  text-decoration: none;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 5px;
  background-color: none;
  color: white;
  padding-bottom: 2px;
  /* box-shadow: 0px 0px 2px 3px white; */
}

.add:hover {
  /* color:#0086c3;
    background-color: #73e8ff; */
  box-shadow: 0px 0px 2px 3px white;
  text-shadow: 1px 1px white;
}
